body{
	font-size: 16px;
    background: black;
    margin-top: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Open sans;
    color: white;
}

/*------Header-----*/

#Inicio{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 0;
    padding-top: 60px;
}

.CABECALHO-FIXO{
    display: inline-block;
    width: 90%;
    height: 5%;
    position: fixed;
    background: black;
    z-index: 5;
    padding-top: 4%;
    padding-bottom: 1%;
}

.header {
    width: 50%;
    font-size: 1.1rem;
    vertical-align: middle;
    display: inline-block;
    
}
.header li{
    display: inline;
    padding-right: 30px;
}

.header a {
    color: white;
    text-decoration: none;
}

a[href] {
    color: inherit;
    text-decoration: none;
}

.header a:hover {
    display: inline-block;
}

.header2{
    display: inline-block;
    width: 10rem;
    float: right;
    text-align: right;
    margin-right: 10%;
}

.header2 a{
    width: 25px;
    margin-left: 20px;
}

.header2 img {
    vertical-align: middle;
}
/*--------------INICIO-----------------------------------------*/

main{
    text-align: center;
}



#Inicio h1{
    font-size: 6rem;
    clear: both;
    color: white;
    font-weight: lighter;
    display: inline-block;
    text-align: right;
    line-height: 80%;
    padding-left: 5%;
    padding-top: 10%;
    margin-bottom: 0%;
}

h1 strong{
    display: block;
}
    

.item-left{
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 60%;
    height: auto;
}

.item-right{
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    height: auto;
}

.item-name{
    width: 100%;
    height: auto;
    display: block;
    float: left;
}

.item-skill{
    display: inline-block;
    float: left;
    margin-top: 10%;
}

.item-skill img{
    display: inline-block;
    float: left;
    width: 40rem;
    height: auto;

}

.item-grid-imagem {
    display: inline-block;
    float: right;
    width: 100%;
    height: auto;
    margin-top: 10%;
}

#ScrollDown{
    display: inline-block;
    text-align: center;
    clear: right;
    margin-bottom: 50px;
    
}
/*---.item-grid img {
    display: inline;
    width: 50%;
    height: 50%;
    margin-top: 10%;
    float: right;
}


.item-grid.imagem {
    background-image: url(../imagens/eu.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    
}*/


/*--------------PORTIFOLIO--------------------------------------*/

.Alinhamento{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 2px;
    background: rgba(000, 000, 000, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    border-radius: 20px;
}

.Hover{
    width: 500px;
    height: 500px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
}


.Hover:hover .Alinhamento {
    opacity: 1;
}


.Alinhamento h2{
    font-size: 3rem;

}
.Alinhamento p{
    
}

/*----------------------------*/

#Portfolio{
    padding-top: 120px;
}

#Portfolio img{
    height: 500px;
}

/*---------------------------*/



#port img{
    display: inline-block;
    width: 100%;
    height: auto;

}

#port2 img{
    display: inline-block;
    width: 4%;
    height: auto;
    float: right;
}

.job h1{
    display: inline-block;
    width: 25%;
    height: auto;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 20px;
}

.job h2{
    display: inline-block;
    width: 30%;
    height: auto;
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.job p{
    display: inline-block;
    width: 60%;
    height: auto;
    margin: 0px;
    font-weight: lighter;

}


#job1{
    display:inline-block;
    position: relative;
    z-index: 4;
    top: 18%;
    width: 50%;
    height: 50%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    
}
#job2{
    display:inline-block;
    position: relative;
    z-index: 4;
    top: 18%;
    width: 50%;
    height: 50%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    
}
#job3{
    display:inline-block;
    position: relative;
    z-index: 4;
    top: 18%;
    width: 50%;
    height: 50%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}
#job4{
    display:inline-block;
    position: relative;
    z-index: 4;
    top: 18%;
    width: 50%;
    height: 50%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}
#job5{
    display:inline-block;
    position: relative;
    z-index: 4;
    top: 18%;
    width: 50%;
    height: 50%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}
#job6{
    display:inline-block;
    position: relative;
    z-index: 4;
    top: 18%;
    width: 50%;
    height: 50%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay2{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay3{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}
.overlay4{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}
.overlay5{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}
.overlay6{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

/*----------------FOOTER--------------------------------------------------*/
footer {
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    vertical-align: middle;
    padding-top: 10%;
    padding-bottom: 3%;
    
}


.Rodape {
    width: 100%;
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: middle;
}

.LogoRodape{
    float: left;
    width: 15%;
    padding-right: 6%;
}

.LogoRodape h1{
    
}

.LogoRodape h1 strong{
    display: block;
}

.LogoRodape2{
    display: inline-block;
     font-size: 15px;
     padding-right: 10%;
}

.LogoRodape3 {
    display: inline-block;
    margin: 0;
    font-size: 15px;
}

.LogoRodape3 h3 {
    display: inline-block;
    margin: 0;
    padding: 4px;
}

.LogoRodape3 p {
    display: inline-block;
    margin: 0;
}

.LogoRodape h3{
    font-size: 1.5rem;
    clear: both;
    color: white;
    font-weight: lighter;
    display: inline-block;
    text-align: right;
    line-height: 80%;
    padding-left: 5%;
    margin-top: 0;
    margin-bottom: 0%;
    vertical-align: center;
    
}

.Rodape2{
    display: inline-block;
    width: 15%;
    float: right;
    text-align: right;
    margin-right: 10%;
    padding-top:
}

.Rodape2 a{
    width: 25px;
    padding-left: 20px;
}

.Rodape2 img {
    vertical-align: middle;
}